.content {
  width: 100%;
  height: 80vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/assets/tapes.jpg');
}

.contentInfo {
  width: 100%;
  height: 100px;
  font-size: 2em;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.actionCall {
  width: 100%;
  text-align: center;
}

.actionCall button {
  background-color: green;
  color: white;
  border: none;
  font-size: 20px;
  margin: 2% auto;
  width: 20%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.actionCall button:hover {
  background-color: rgba(0, 128, 0, 0.541);
}

/* Dashboard Styling */

.recsBox {
  margin: 2% auto;
}

.recs {
  width: 200px;
  text-align: center;
  background-color: #121212;
  color: white;
  cursor: pointer;
}

.recs:hover {
  background-color: #282828;
}

.recs img{
  align-items: center;
  width: 200px;
}

/* formik form on Login page styling */
.loginForm {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.loginImg {
  width: 50%;
  border: 2px solid green;
}

.loginLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.loginLink:hover {
  color: green;
  text-decoration: underline;
  font-weight: bolder;
}