.content {
  width: 100%;
  height: 80vmax;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../src/assets/tapes.jpg');
}

.contentInfo {
  width: 100%;
  height: 100px;
  font-size: 2em;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.actionCall {
  width: 100%;
  text-align: center;
}

.actionCall button {
  background-color: green;
  color: white;
  border: none;
  font-size: 20px;
  margin: 2% auto;
  width: 20%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.actionCall button:hover {
  background-color: rgba(0, 128, 0, 0.541);
}

/* Signup Form Styling */

.signupContainer {
  width: 1000px;
  margin: 0 auto;
}

.signupContainer h3 {
  text-align: center;
}

.signupForm {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.signupForm input {
  width: 40%;
  height: 40px;
  margin: 1% auto;
  font-size: medium;
}

.signupForm input::placeholder {
  font-size: medium;
}

.signupForm h3 {
  font-size: 20px;
}

.signupForm button {
  width: 20%;
  border: none;
  height: 30px;
  margin: 1% auto;
  background-color: #008000;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.recs img{
  align-items: center;
  width: 200px;
}

/* formik form on Login page styling */
.loginForm {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.loginImg {
  width: 50%;
  border: 2px solid green;
}

.loginLink {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.loginLink:hover {
  color: green;
  text-decoration: underline;
  font-weight: bolder;

.signupForm button:hover {
  background-color: #00800086;
}